<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.matchinggame">

    <application
            android:allowBackup="true"
            android:icon="@drawable/cover"
            android:label="@string/app_name"
            android:roundIcon="@drawable/cover"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.example.flipmatch.HomePage2_2"/>
        <activity android:name="com.example.flipmatch.HomePage1_2" />
        <activity android:name="com.example.flipmatch.HomePage" />
        <activity android:name="com.example.flipmatch.GameOverScreen" />
        <activity android:name="com.example.flipmatch.MainActivityL3" />
        <activity android:name="com.example.flipmatch.MainActivityL2" />
        <activity android:name="com.example.flipmatch.WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.flipmatch.MainActivity" />
    </application>

</manifest>